{% extends 'base.html.twig' %}

{% block title %}Bushi.Do | CGU{% endblock %}

{% block body %}
	{{ include("partials/title_section.html.twig", {'name':'Conditions générales d\'utilisation'} ) }}

	<div class="container">
		<h1 class="text-center">Conditions générales du site</h1>

		<p class="text-justify">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia asperiores numquam tenetur natus laudantium quidem voluptas, assumenda, molestias facere libero ad cupiditate saepe. Quisquam veritatis iste cum expedita id!
		</p>
		<p class="text-justify">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia asperiores numquam tenetur natus laudantium quidem voluptas, assumenda, molestias facere libero ad cupiditate saepe. Quisquam veritatis iste cum expedita id!
		</p>
		<p class="text-justify">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia asperiores numquam tenetur natus laudantium quidem voluptas, assumenda, molestias facere libero ad cupiditate saepe. Quisquam veritatis iste cum expedita id!
		</p>
	</div>
{% endblock %}
